.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item {
    /* border: 2px solid black; */
    text-align: center;
}

/* 
* {
    border: #002A5F solid 2px;
} */

.hero-container {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.feature-container {
    background-color: #fff;
    min-height: 50vh;
    flex-direction: row;
}

.member-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    justify-content: space-around;
}

.feature-item,
.member-item {
    z-index: 1;
    /* width: 250px; */
    flex-basis: 30%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.feature-item {
    /* 到時候資料來的時候要重新設定 min-height, min-width*/
    min-width: 300px;
    min-height: 200px;
}

h4~p{
    padding-bottom: 5%;
}

.member-item {
    margin-bottom: 3vh;
}

.member {
    /* 到時候資料來的時候要重新設定 min-height, min-width*/
    /* max-width: 350px;
    min-width: 280px; */
    flex-basis: 30%;
    min-height: 600px;
}

.member-inner {
    position: relative;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    /* 到時候資料來的時候要重新設定 min-height, min-width*/
    min-height: 600px;
    min-width: 300px;
    max-width: 400px;
}

.contact-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
    margin: auto;
    width: 200px;
    /* padding: 0; */
}

.feature-item-conatiner {
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.feature-container img,
.member-container img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.c2a-container {
    background-color: rgb(255, 255, 255);
}

.c2a-item {
    width: 640px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#c2a p {
    padding-bottom: 12px;
}

.introduction {
    z-index: 1;
    flex-basis: 100%;
    display: block;
    transition: opacity 0.5s ease-in;
}

#action-logo {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #002A5F;
    min-height: 25vh;
    flex-direction: row;
}

.footer .container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    align-items: flex-start;
}

.footer-item {
    width: 360px;
    /* padding:0 20%; */
}

#copyright {
    flex-basis: 100%;
}