.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    border: 2px solid black;
    text-align: center;
}

.hero-container {
    /* Sizing */
    width: 100vw;
    height: 70vh;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image: url('https://static1.squarespace.com/static/5873c778e6f2e14a3529e892/t/58d28fb817bffc2216062cb1/1490194393248/shutterstock_349563746.jpg?format=1500w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.feature-container,
.member-container {
    background-color: #ccc;
    min-height: 100vh;
    align-items: center;
}

.feature-item,
.member-item {
    width: 360px;
    flex-basis: 30%;
}

.feature-container img,
.member-container img {
    display: block;
    margin: auto;
    width: 360px;
    height: 360px;
}

.c2a-container {
    background-color: #ccc;
    min-height: 70vh;
}

.c2a-item {
    width: 360px;
}

.c2a-item-right {
    width: 640px;
}

.introduction {
    flex: 100%;
}

#action-logo {
    width: 100%;
    height: 100%;
}

.footer-container {
    background-color: rgb(51, 51, 51);
    min-height: 20vh;
}

.footer-item {
    width: 360px;
}

#copyright {
    flex-basis: 100%;
}