.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.item {
    /* border: 2px solid black; */
    text-align: center;
}

.hero-container {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.feature-container {
    background-color: #fff;
    min-height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.member-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* flex-basis: auto; */
}

.feature-item,
.member-item {
    z-index: 1;
    /* width: 250px; */
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.feature-item {
    /* 到時候資料來的時候要重新設定 min-height, min-width*/
    min-width: 300px;
    min-height: 200px;
}

h4~p {
    padding-bottom: 5%;
}

.member-item {
    margin-bottom: 3vh;
}

.member {
    /* 到時候資料來的時候要重新設定 min-height, min-width*/
    max-width: 350px;
    min-width: 280px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    min-height: 600px;

    margin-left: 2px;
    margin-right: 2px;
    margin-bottom:30px;
    
}

.member-inner {
    position: relative;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    /* 到時候資料來的時候要重新設定 min-height, min-width*/
    min-height: 600px;
    min-width: 300px;
    max-width: 400px;
}

.contact-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
    margin: auto;
    width: 200px;
    /* padding: 0; */
}

.feature-item-conatiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.feature-container img,
.member-container img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.c2a-container {
    background-color: rgb(255, 255, 255);
}

.c2a-item {
    flex-basis: auto;
    -ms-flex-preferred-size: auto;
    /* width:640px; */
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

#c2a p {
    padding-bottom: 12px;
}

.introduction {
    z-index: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    flex-basis: auto;
    display: block;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

#action-logo {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #002A5F;
    min-height: 25vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-item {
    width: 360px;
}

#copyright {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

@media only screen and (max-width: 600px) {
    .hero-container {
        background-attachment: scroll;
    }
}

@media only screen and (max-height: 600px) and (orientation:landscape) {
    .hero-container {
        height: 512px;
    }
    .hero-mask.bg-mask {
        height: 512px;
    }
}