.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    /* border: 2px solid black; */
    text-align: center;
}

.hero-container {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.feature-container,
.member-container {
    background-color: #ccc;
    min-height: 100vh;
    align-items: center;
}

.feature-item,
.member-item {
    width: 360px;
    flex-basis: 30%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.feature-container img,
.member-container img {
    display: block;
    margin: auto;
    width: 360px;
    height: 360px;
    border-radius: 50%;
}

.c2a-container {
    background-color: #ccc;
    min-height: 75vh;
}

.c2a-item {
    width: 360px;
}

.c2a-item-right {
    width: 640px;
}

.introduction {
    flex: 100%;
}

#action-logo {
    width: 100%;
    height: 100%;
}

.footer-container {
    background-color: rgb(51, 51, 51);
    min-height: 25vh;
}

.footer-item {
    width: 360px;
}

#copyright {
    flex-basis: 100%;
}