* {
    color: rgba(0, 0, 0, 0.65);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
}

p {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: left;
}

h1 {
    margin: 24px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
}

h4 {
    font-weight: 400;
}

h1~p {
    padding-bottom: 64px
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 1px;
    opacity: 1;
}

section:not(.hero-container) {
    padding: 48px 0;
}

footer {
    padding-top: 48px;
    padding-bottom: 24px;
}

h1~p,
#copyright>p {
    text-align: center;
}

.fa-contact-info {
    color: rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: 0 2px;
}

.fa-contact-info:hover {
    color: rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.footer-icon {
    color: rgba(255, 255, 255, 0.2);
    padding: 2px;
}

.footer-icon:hover {
    color: rgba(255, 255, 255, 0.6);
}

.lab-logo {
    border-radius: 50%;
    padding: 6px;
    width: 60px;
    display: inline-block;
    margin-right: 12px;
}

.ncku-logo {
    width: 80px;
    display: inline-block;
    margin: 12px 0;
    border-radius: 50%;
    vertical-align: middle;
}

.logo-title--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.bg-mask {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    /* top: 0; */
    z-index: 0;
}

.hero-mask {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.6)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.6) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.6) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.6) 100%);
    top: 0;
}

/* 
.feature-mask {
    background: linear-gradient(to bottom, rgba(1, 18, 248, 0.9) 50%, rgba(133, 148, 230, 0.6) 100%);    
} */

.bg-mask span {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: lighter;
}

.hero-container h1 {
    /* Text styles */
    font-size: 4rem;
    font-weight: normal;
    font-family: futura, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    /* Margins */
    display: inline-block;
    margin: 0px;
}

.hero-item {
    text-align: left;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    padding-left: 12%;
}

.hero-item h2 {
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
    min-width: 320px;
    margin-bottom: 32px;
}

.herobtn {
    /* Positioning and sizing */
    display: inline-block;
    /* Padding and margins */
    padding: 0.8rem 2rem;
    /* Text styles */
    text-decoration: none;
    font-size: 1.5em;
    /* Border styles */
    margin: 16px;
    border-radius: 40px;
    /* Background styles */
    background-color: #002A5F;
    /* Animation */
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.3);
    max-width: 125px;
}

.herobtn .btn--mail {
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.9);
}

.herobtn .btn--mail:after {
    position: absolute;
    /* Hide '>>' */
    opacity: 0;
    right: -50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.herobtn .btn--mail:after {
    content: url('../images/mail-icon.svg');
}

.herobtn:hover .btn--mail {
    /* Let the text move to left*/
    padding-right: 25px;
}

.herobtn:hover .btn--mail:after {
    right: -20px;
    /* Show '>>' */
    opacity: 1;
}

.introduction {
    /* opacity: 1; */
}

.introduction p {
    max-width: 800px;
    margin: 0 auto;
}

/* .feature-texts{
    background-color: #fff;
} */

.team {
    background-color: #f7f7f7;
}

#action-logo {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 50%;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.footer-item h2,
.footer-item p,
#copyright p {
    font-weight: lighter;
    color: rgb(230, 230, 230);
}

.footer-item h2 {
    font-size: 20px;
}

#copyright p {
    font-size: 14px;
    letter-spacing: 1px;
}

#herobtn2 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    min-width: initial;
    max-width: 150px;
}

form {
    border: none;
    width: 40%;
    max-width: 1400px;
    min-width: 320px;
    text-align: center;
}

fieldset,
button,
input,
textarea {
    border: none;
    width: 100%;
    line-height: 32px;
    text-align: left;
}

input:focus,
textarea:focus {
    outline: none;
}

label {
    display: block;
    margin-top: 16px;
    margin-bottom: 0px;
}

input,
textarea {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#honeypot,
#thankyou_message,
#interest-in {
    display: none;
    /*makes the field not visible to humans*/
}

#loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    animation: spin 0.6s linear infinite;
    display: none;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* .member :hover{
    box-shadow: inset 0 0 0 5px #f5dd59;
} */

/* .member-container img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s
} */

/* .banner {
    width: 100vw;
    height: 70vh;
}

.progressive-image {
    position: relative;
    overflow: hidden;
}

.progressive-image div {
    width: 100%;
    padding-top:70vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.progressive-image .loadingImage {
    filter: blur(5px);
}

.progressive-image .overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in;
} */

@media only screen and (max-width: 600px) {
    .hero-item {
        padding-left: 0;
    }
    .hero-container h1 {
        font-size: 2rem;
    }
    .lab-logo {
        width: 120px;
        height: 120px;
        margin: 12px;
        padding: 0;
        display: block;
    }
    .logo-title--container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .hero-item {
        align-items: center;
    }
}