body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 70vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image: url('https://static1.squarespace.com/static/5873c778e6f2e14a3529e892/t/58d28fb817bffc2216062cb1/1490194393248/shutterstock_349563746.jpg?format=1500w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.herobtn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    /* Border styles */
    border: 2px solid white;
    border-radius: 20px;
    /* Background styles */
    background-color: #133152;
    /* Animation */
    transition: all 0.5s;
    cursor: pointer;
}

.herobtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.herobtn span:after {
    /* '>>' */
    content: '\00bb'; 
    position: absolute;
     /* Hide '>>' */
    opacity: 0;
    right: -50px;
    transition: 0.5s;
}

.herobtn:hover span {
    /* Let the text move to left*/
    padding-right: 25px;
}

.herobtn:hover span:after {
    right: 0;
    /* Show '>>' */
    opacity: 1; 
}

.flexbox-container img{
    display:block;
    margin:auto;

    width:360px;
    height:360px;
}

.flexbox-container h1 , .flexbox-container p{
    text-align: center;
}

#team-introduction{
    flex:100%;
}


#team-introduction h1{
    font-size: 60px;
}

#members{
    background-color: rgb(100, 101, 107);
}


#members h1 , #members p{
    color: aliceblue;
}



