body {
    margin: 0;
    font-family: sans-serif;
}

h1,
p {
    text-align: center;
}

.hero-container h1 {
    /* Text styles */
    font-size: 5em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.herobtn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    /* Border styles */
    border: 2px solid white;
    border-radius: 20px;
    /* Background styles */
    background-color: #133152;
    /* Animation */
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

.herobtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.herobtn span:after {
    /* '>>' */
    content: '\00bb';
    position: absolute;
    /* Hide '>>' */
    opacity: 0;
    right: -50px;
    transition: 0.5s;
}

.herobtn:hover span {
    /* Let the text move to left*/
    padding-right: 25px;
}

.herobtn:hover span:after {
    right: 0;
    /* Show '>>' */
    opacity: 1;
}

.introduction h1 {
    font-size: 60px;
}

#members {
    background-color: rgb(100, 101, 107);
}

#members h1,
#members p {
    color: aliceblue;
}

/* .banner {
    width: 100vw;
    height: 70vh;
}

.progressive-image {
    position: relative;
    overflow: hidden;
}

.progressive-image div {
    width: 100%;
    padding-top:70vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.progressive-image .loadingImage {
    filter: blur(5px);
}

.progressive-image .overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in;
} */